.certificate-wrapper{
  width: 100vw;
  position: fixed;
  top: 1%;
  background-color: #ffffffe3;
}

.outer-border {
  width: 50vw;
  /* height: 100vh; */
  padding: 10px;
  text-align: center;
  border: 10px solid #252f50;
  font-family: "Lato", sans-serif;
  margin: auto;
 

}

.inner-dotted-border {
  padding: 10px;
  text-align: center;
  border: 2px solid #252f50;
  /* border-style: dotted; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  width: 75px;
  margin: auto;
  margin-top: 50px;
}

.certification {
  font-size: 50px;
  font-weight: bold;
  color: #252f50;
  font-family: "Times New Roman", Times, serif;
}

.certify {
  font-size: 20px;
  color: #252f50;
}

.diploma {
  color: #252f50;
  font-family: "Lucida Handwriting", "Comic Sans", cursive;
}

.name {
  font-size: 30px;
  color: #252f50;
  border-bottom: 1px solid;
  font-family: "Lucida Handwriting", "Comic Sans", cursive;
}

.thank {
  color: #252f50;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  margin-bottom: 60px;
}

.date {
  display: flex;
  /* align-self: flex-end; */
  align-items: flex-end;
}

.date > .fs-20 {
  font-family: "Lucida Handwriting", "Comic Sans", cursive;
}

.qr {
  margin-top: 1.25rem;
  display: flex;
  justify-content: end;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.sign {
  border-top: 1px solid;
  align-self: flex-end;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
